  <footer>
    <div id="site-map">
      <h5>wiredhikari</h5>

      <a href="/">Welcome</a>,
      <a href="/about">About</a>,
      <a href="/contact">Contact</a>,
      <a href="/blog">Blog</a>

    </div>
    <div id="contact-me">
      <h5>Networks</h5>
      <a href="https://twitter.com/wired_hikari" target="_blank"><i class="typcn typcn-social-twitter"></i> @wired_hikari</a><br />
      <a href="https://github.com/wiredhikari" target="_blank"><i class="typcn typcn-social-github"></i> @wiredhikari</a><br />
      <a href="https://keybase.io/wiredhikari" target="_blank"><i class="typcn typcn-key"></i> @wiredhikari</a>
    </div>
  </footer>

{{ template "_internal/google_analytics_async.html" . }}

  <!-- end scripts -->
  <script src="/js/link-headers.js"></script>

</div><!-- div.content.markdown -->
</div><!-- div.site -->

</body>
</html>
